@model List<GuzelSoz>
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <label>
        <input type="checkbox" value="" id="" /> Sadece Beğendiklerimi Göster
    </label>

    <h1>Güzel Sözler</h1>
    <ul>
        @foreach (var item in Model)
        {
            <li>@item.Soz (Toplam Beğeni Sayısı: xxx)  ♥</li>
        }
    </ul>

</div>
